.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
*{
  padding: 0;
  margin: 0
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.show { opacity: 1; }

.text-orange {
  color: #ff5722!important
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Product detail styling */
.qty-input {
  padding-right: 0px;
  max-width: 17%;
}

.product-data {
  padding-left: 45px;
}


/* Search results styling */
@media (max-width: 767px){
  .filter-position {
      margin-bottom: 30px
  }
}

.word-break {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

.card-decoration {
  box-shadow: 0;
  transition: box-shadow 0.3s;
  border: 0;
}

.card-decoration:hover {
  box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.75);
}

.list-padding {
  padding-left: 10px;
  padding-right: 10px
}

.row-list {
 margin-left: -10px;
 margin-right: -10px; 
}

.kotakhitam{
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms
}
.kotakhitam:hover{
  background-color: rgba(0, 0, 0, 0.479);
}
.tombolebuynow{
  display: none
}

.kotakhitam:hover .tombolebuynow{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  color: white;
  font-size: 25px;
  /* padding: 3px; */
  width: 50%;
  background-color: transparent;
  transition: 700ms
}
.kotakhitam:hover .tombolebuynow:hover{
  background-color: white;
  color: black;
  border: 2px solid black;
}
.kotakhitam:hover .tomboldalam {
  background-color: transparent;
  color: white;
  border: none;
}
.kotakhitam:hover .tombolebuynow:hover .tomboldalam{
  color: black ;
}

.hovererr:hover{
  cursor: pointer !important; 
}

.dropdown1{
  width: 100px !important
}

.warnanav{
  color: white !important
}
.warnanav:hover{
  color: white !important
}
.navbar { 
  background-color: transparent!important; 
  box-shadow: none !important; 
}
.warnatext{
  color: black !important
}